.first-footer {
	background: #113b7f;
	padding: 30px 0;
}

.contacts__column {
	margin: auto 0;
}

.contacts__address {
    font-size: 20px;
	color: rgb(255, 255, 255);
    max-width: 300px;
    margin: auto 0 auto 15px;
}

.contacts__line {
    background: rgb(255, 255, 255);
    width: 2px;
    height: 100%;
    min-height: 123px;
    margin: auto 35px;
}

.contacts__caption{
	font-size: 18px;
	color: rgb(255, 255, 255);
}

.contacts__number {
	display: block;
	font-size: 24px;
	color: rgb(255, 255, 255);
	text-decoration: none;
}

.first-footer__button {
    display: block;
    margin: auto 78px auto 0;
}

.second-footer {
	background: #0b2652;
	padding: 15px 0;
}

.second-footer .navbar {
    overflow: hidden;
}

.second-footer .menu a {
	color: rgb(255, 255, 255);
}


/*media*/ 

@media screen and (max-width: 1279px) {
    
}

@media screen and (max-width: 1023px) {
    
}

@media screen and (max-width: 767px) {
    
}

@media screen and (max-width: 639px) {
   
}