.photo-info {
	padding: 90px 0;
	overflow: hidden;
	position: relative;
}

.photo-info__background {
    background: url(../../images/figure-2.svg) no-repeat;
	background-position: -3px 0;
    width: 50%;
    height: 640px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.photo-info__photo {
    background: url(../../images/diploma-stone.png) no-repeat center;
    width: 920px;
    height: 800px;
    position: absolute;
    left: 43px;
    bottom: 66px;
}

.photo-info__info {
	max-width: 650px;
}

.icon-items {
    position: relative;
    padding: 32px 0px 32px 85px;
}

.photo-info__icon-items {
    margin-top: 37px;
}

.icon-items:before {
	content: "";
	background-color: rgb(255, 160, 43);
	width: 5px;
	height: 100%;
	position: absolute;
	top: 0;
    left: 45px;
}

.icon-items__item {
	margin-bottom: 45px;
}

.icon-items__item:last-child {
	margin: 0;
}

.icon-items__icon {
	background: url('../../images/sprites.svg') no-repeat -8px -69px;
	width: 90px;
	height: 91px;
	margin: 5px 38px 0 0;
}

.icon-items__icon_diploma {
	background-position: -131px -69px;
}

.icon-items__icon_distance {
	background-position: -252px -69px;
}

.icon-items__text {
	flex: 1;
}

.icon-items__caption {
	font-size: 26px;
	font-weight: 700;
	margin-bottom: 10px;
}

.icon-items__description {
	font-size: 20px;
}


/*media*/ 

@media screen and (max-width: 1279px) {
    .photo-info__photo {
		display: none;
	}
	
	.photo-info__background {
		display: none;
	}
	
	.photo-info__info {
		max-width: none;
	}
	
	.icon-items {
		padding: 32px 0 32px 110px;
	}
	
	.icon-items:before {
		left: 70px;
	}
}

@media screen and (max-width: 1023px) {
    
}

@media screen and (max-width: 767px) {
	.icon-items {
		padding: 32px 0 32px 40px;
	}
    
	.icon-items:before {
		left: 0;
	}
}

@media screen and (max-width: 639px) {
   .icon-items__item {
		flex-direction: column;
	}
	
	.icon-items__icon {
		margin: 0 0 15px;
	}
}