.reviews {
    padding: 70px 0 55px;
    overflow: hidden;
}

.reviews__items_home {

}

.reviews__item-wr {
    padding: 35px 30px 55px;
}

.reviews__item {
	box-sizing: border-box;
	box-shadow: -6px 24px 68px 0px rgba(52, 45, 57, 0.14);
	padding: 50px 43px 60px;
}

.reviews__name {
	font-size: 30px;
	color: rgb(8, 7, 10);
	font-weight: 700;
	margin-bottom: 27px;
}

.reviews__text {
	font-size: 22px;
	color: rgb(8, 7, 10);
	line-height: 1.5;
}

/*media*/ 

@media screen and (max-width: 1279px) {
    
}

@media screen and (max-width: 1023px) {
	
}

@media screen and (max-width: 767px) {
	.reviews__item-wr {
		padding: 15px 15px 55px;
	}
}

@media screen and (max-width: 639px) {

	.reviews__name {
		font-size: 26px;
		margin-bottom: 15px;
	}

	.reviews__text {
		font-size: 20px;
	} 
}