<div class="courses with-line">
	<div class="wrapper">
		<div class="caption-2">Выберите из 100500 курсов у нас на сайте!</div>
		<p>Обучение осуществляется <b>в соответствии с проф. стандартами</b>, утвержденными постановлением Правительства РФ, и обязательными к применению работодателями касаемо государственных и муниципальных гражданских служащих.</p>
		<div class="courses__items">
			@@loop('courses__item.html',[
				{"title":"Государственное и муниципальное управление", "hours":"288-1004 ч.","price":"6 700"},
				{"title":"Государственная служба Российской Федерации","hours":"288-1004 ч.","price":"2 300"},
				{"title":"Государственное и муниципальное управление",
				"hours":"288-1004 ч.", "price":"4 700"},
				{"title":"Проведение антикоррупционной экспертизы проектов правовых актов", "hours":"288-1004 ч.","price":"6 700"},
				{"title":"Управление в сфере образования. Техники эффективного менеджмента.", "hours":"288-1004 ч.","price":"3 500"}
			])
		</div>
		<a href="#" class="courses__button_blue button button_blue">Смотреть все курсы</a>
	</div>
</div>