<div class="discount flex">
	<div class="discount__info">
		<div class="topslider_wrapper">
			<div class="topslider" style="height: 200%; position: relative" data-slide="0">
				<div class="start" style="height: 50%">
					<div class="topslider__inner">
						<div class="caption">Скидки 20% на все курсы</div>
						<div class="discount__small-caption small-caption">Лучшее предложение только до 23.02. Последняя возможность купить по цене 2018 года!</div>
						<a href="#" class="discount__button button button_blue">Подать заявку</a>
					</div>
				</div>
				<div class="start" style="height: 50%">
					<div class="topslider__inner">
						<div class="caption">Скидки 10% на первый курс</div>
						<div class="discount__small-caption small-caption">Лучшее предложение только до 23.02. Последняя возможность купить по цене 2018 года!</div>
						<a href="#" class="discount__button button button_blue">Подать заявку</a>
					</div>	
				</div>
			</div>
		</div> 
	</div>
	<div class="discount__photo"></div>
</div>