<footer>
	<div class="first-footer">
		<div class="wrapper flex_between">
			<div class="contacts">
				<a href="/"  class="first-footer__logo logo logo_white"><a>
				<a href="tel:88126773185" class="phone">8 (812) 677-31-85</a>
				<div class="address">195067 г. Санкт-Петербург, пр. Непокоренных, д. 14/2</div>
				<a href="mailto:info@sitenamename.ru" class="mail">info@sitenamename.ru</a>
			</div>
			<nav class="navbar">
				<ul class="menu">
					<li>
						<a href="#">Главная</a>
					</li>
					<li>
					   <a href="#">Курсы и цены</a>
					</li>
					<li>
						<a href="#">Новости</a>
					</li>
					<li>
						<a href="#">Преподаватели</a>
					</li>
					<li>
					   <a href="#">Контакты</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="second-footer">
		<div class="wrapper">
			<div>&copy; 2019, sitename.ru</div>
		</div>
	</div>
</footer>