<footer>
	<div class="first-footer">
		<div class="wrapper flex_between">
			<div class="first-footer__contacts contacts flex">
                <div class="contacts__column flex">
					<a href="/" class="first-footer__logo logo"></a>                    
               		<div class="contacts__address">195067 г. &nbsp;Санкт-Петербург, Каменноостровский проспект, дом 26-28</div>                   
                </div>
                <div class="contacts__line"></div>
                <div class="contacts__column">
                    <div class="contacts__caption">Приемная коммисия:</div>
                    <a class="contacts__number" href="tel:88126773181">8 (812) <b>677-31-81</b></a> 
                    <a class="contacts__number" href="tel:88126773185">8 (812) <b>677-31-85</b></a> 
                </div>
            </div>
			<a href="#" class="first-footer__button button button_blue">Подать заявку</a>
		</div>
	</div>
	<div class="second-footer">
		<div class="wrapper">
			<nav class="navbar">
				<ul class="menu">
					<li>
						<a href="#">Главная</a>
					</li>
					<li>
						<a href="#">Мероприятия</a>
					</li>
					<li>
						<a href="#">Курсы и цены</a>
					</li>
					<li>
						<a href="#">Уч.состав</a>
					</li>
					<li>
					   <a href="#">Документы</a>
					</li>
					<li>
					   <a href="#">Контакты</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</footer>