<div class="form inner-page__form">
	<div class="form__caption">Задать вопрос</div>
	<div class="wpcf7">
		<form class="wpcf7-form">
			<span class="wpcf7-form-control-wrap">
				<input type="text" name="username" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Ф.И.О.">
			</span>
			<span class="wpcf7-form-control-wrap">
				<input type="text" name="userphone" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Телефон">
			</span>
			<span class="wpcf7-form-control-wrap">
				<input type="text" name="usermail" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="E-mail">
			</span>
			<span class="wpcf7-form-control-wrap">
				<textarea name="quest" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Ваш вопрос"></textarea>
			</span>
			<span class="wpcf7-form-control-wrap wpcf7-form-control-wrap_button">
				<button class="button button_orange">
					<div class="button__inner">Отправить</div>
				</button>
			</span>
		</form>
	</div>
</div>