<div class="license-screen">
	<div class="wrapper">
		<div class="orange-line"></div>
		<div class="caption-2">Работаем на основании лицензии</div>
		<p>Лицензия №3469 на бланке 78ЛОЗ №0002276 выдана Комитетом по образованию Правительства Санкт-Петербурга</p>
		<div class="carousel license-screen__carousel" data-slide="0">
			<div class="carousel__inner" >
				<div class="carousel__wrapper">
				<div class="carousel__container">
					<div class="carousel__long">
						<div class="one_doc">
							<div class="inner">
								<a href="images/licence.jpg" data-fancybox="gallery" data-caption="Лицензия001">
								   <img src="images/licence.jpg" alt="лицензия" class="content">
								</a>
							</div>
						</div>
						<div class="one_doc">
							<div class="inner">
								<a href="images/licence.jpg" data-fancybox="gallery" data-caption="Лицензия002">
								   <img src="images/licence.jpg" alt="лицензия" class="content">
								</a>
							</div>
						</div>
						<div class="one_doc">
							<div class="inner">
								<a href="images/licence.jpg" data-fancybox="gallery" data-caption="Лицензия003">
								   <img src="images/licence.jpg" alt="лицензия" class="content">
								</a>
							</div>
						</div>
						<div class="one_doc">
							<div class="inner">
								<a href="images/licence.jpg" data-fancybox="gallery" data-caption="Лицензия003">
								   <img src="images/licence.jpg" alt="лицензия" class="content">
								</a>
							</div>
						</div>
					</div>
				</div>
				</div>	
			</div>
			<div class="carousel__controls flex">
				<div class="carousel__control prev"></div>
				<div class="carousel__control next"></div>
			</div>
		</div>
	</div>
</div>