<div class="photo-info">
	<div class="wrapper flex">
		<div class="photo-info__info">
			<p>Обучение осуществляется <b>в соответствии с проф. стандартами</b>, утвержденными постановлением Правительства РФ, и обязательными к применению работодателями касаемо государственных и муниципальных гражданских служащих.</p>
			<div class="icon-items">
				<div class="icon-items__item flex">
					<div class="icon-items__icon icon-items__icon_students"></div>
					<div class="icon-items__text">
						<div class="icon-items__caption">Более 12 000 слушателей ежегодно</div>
						<div class="icon-items__description">Огромный опыт позволяет с уверенностью гарантировать высокие результаты нашим выпусникам.</div>
					</div>
				</div>
				<div class="icon-items__item flex">
					<div class="icon-items__icon icon-items__icon_diploma"></div>
					<div class="icon-items__text">
						<div class="icon-items__caption">Диплом государственного образца</div>
						<div class="icon-items__description">Огромный опыт позволяет с уверенностью гарантировать высокие результаты нашим выпусникам.</div>
					</div>
				</div>
				<div class="icon-items__item flex">
					<div class="icon-items__icon icon-items__icon_distance"></div>
					<div class="icon-items__text">
						<div class="icon-items__caption">Очное и дистанционное обучение</div>
						<div class="icon-items__description">Огромный опыт позволяет с уверенностью гарантировать высокие результаты нашим выпусникам.</div>
					</div>
				</div>
			</div>
		</div>
		<div class="photo-info__photo"></div>
	</div>
</div>