<div class="reviews with-line">
	<div class="wrapper">
		<div class="orange-line"></div>
		<div class="caption-2">Отзывы наших студентов</div>
		<p>По опросу 2018 года, 97 % наших студентов остались довольны</p>
	</div>
	<div class="reviews__items reviews__items_home flex">
		<div class="reviews__item-wr">
			<div class="reviews__item">
				<div class="reviews__name">Катя Липинская</div>
				<div class="reviews__text">
				Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. </div>
			</div>
		</div>
		<div class="reviews__item-wr">
			<div class="reviews__item">
				<div class="reviews__name">Екатерина Владимировна</div>
				<div class="reviews__text">
				Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. </div>
			</div>
		</div>
		<div class="reviews__item-wr">
			<div class="reviews__item">
				<div class="reviews__name">Катя Липинская</div>
				<div class="reviews__text">
				Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь.</div>
			</div>
		</div>
	</div>
</div>