<div class="reviews">
	<div class="wrapper">
		<div class="caption-2">Отзывы наших студентов</div>
		<p>По опросу 2018 года, 97 % наших студентов остались довольны</p>
	</div>
	<div class="reviews__items reviews__items_home flex">
		<div class="reviews__item-wr">
			<div class="reviews__item">
				<div class="reviews__name">Катя Липинская</div>
				<div class="reviews__text">
				Хочется выразить огромное спасибо учителям на курсах для воспитателей, которые сразу же попытались найти подход к каждому.</div>
			</div>
		</div>
		<div class="reviews__item-wr">
			<div class="reviews__item">
				<div class="reviews__name">Катя Липинская</div>
				<div class="reviews__text">
				Хочется выразить огромное спасибо учителям на курсах для воспитателей, которые сразу же попытались найти подход к каждому.</div>
			</div>
		</div>
		<div class="reviews__item-wr">
			<div class="reviews__item">
				<div class="reviews__name">Катя Липинская</div>
				<div class="reviews__text">
				Хочется выразить огромное спасибо учителям на курсах для воспитателей, которые сразу же попытались найти подход к каждому.</div>
			</div>
		</div>
	</div>
</div>