<div class="reviews">
	<div class="wrapper">
		<div class="caption"><span>Отзывы</span> наших студентов</div>
		<div class="after-caption">По опросу 2018 года, 97% наших студентов остались довольны обучением</div>
		<div class="reviews__items reviews__items_home flex">
			<div class="reviews__item-wr">
				<div class="reviews__item">
					<div class="reviews__text">
					Хочется выразить огромное спасибо учителям на курсах для воспитателей, которые сразу же попытались найти подход к каждому.
					</div>
					<div class="reviews__name flex_between">
						<div class="reviews__icon"></div>
						<div>Катя Липинская</div>
					</div>
				</div>
            </div>
			<div class="reviews__item-wr">
				<div class="reviews__item">
					<div class="reviews__text">Рад, что выбрал ваши курсы. Спасибо преподавателям за профессионализм и интересные занятия, а также за понимание и отзывчивость. Благодаря вам, получил много полезных знаний.</div>
					<div class="reviews__name flex_between">
						<div class="reviews__icon"></div>
						<div>Николай Степаненко</div>
					</div>
				</div>
            </div>
			<div class="reviews__item-wr">
				<div class="reviews__item">
					<div class="reviews__text">Боялась, что обучение будет скучным и формальным, но ваши курсы превзошли все ожидания! Отдельное спасибо Ирине Ивановне.
					</div>
					<div class="reviews__name flex_between">
						<div class="reviews__icon"></div>
						<div>Алина Заяц</div>
					</div>
				</div>
            </div>
            <a href="#" class="reviews__button button button_pink">
				<div class="button__inner">Больше отзывов</div>
			</a>
		</div>
	</div>
</div>