@import "parts/jquery.fancybox.min.css";
@import "parts/base-blocks.less";
@import "parts/header.less";
@import "parts/slider.less";
@import "parts/form.less";
@import "parts/photo-info.less";
@import "parts/discount.less";
@import "parts/courses.less";
@import "parts/reviews.less";
@import "parts/slick.less";
@import "parts/slick-theme.less";
@import "parts/license.less";
@import "parts/footer.less";

/*main-screen*/ 

.main-screen {
	background: #113b7f;
	position: relative;
}

.main-screen__info {
	padding: 56px 0;
	position: absolute;
	width: 100%;
    position: absolute;
    top: 0;
	z-index: 1;
}

.main-screen__figure-1 {
    background: url(../images/figure-1.svg) no-repeat center right ;
    height: 100%;
	width: 100%;
    position: absolute;
    top: 0;
    right: 45%;
}

.logo {
	display: block;
    background: url(../../images/logo.svg) no-repeat center;
    width: 114px;
    height: 100px;
}

.logo-line__text {
    font-size: 18px;
    color: #fff;
    max-width: 300px;
    margin: auto 0 auto 20px;;
}

.main-screen__button {
	margin-top: 93px;
}


/*media*/ 

@media screen and (max-width: 1279px) {
    
}

@media screen and (max-width: 1023px) {
    
}

@media screen and (max-width: 767px) {
    
}

@media screen and (max-width: 639px) {
    
}